{{#if Coordinador}}
{{>headerCoordinador}}
{{else if docente }}

{{>headerDocente}}
{{else if aspirante}}
{{>headerAspirante}}
{{/if}}
<br>
<div class="container-fluid">
    <h3>Perfil de : {{Usuario.usuario}}</h3>
    
{{#if avatar}}
    <img src="data:img/png;base64,{{avatar}}",class="img-fluid">
    {{else}}
    <h2>No Disponible</h2>
{{/if}}
<br>
<h4>Nombre :</h4>
<h6>{{Usuario.nombre}}</h6>
<h4>Documento :</h4>
<h6>{{Usuario.documento}}</h6>
<h4>Correo :</h4>
<h6>{{Usuario.correo}}</h6>
<h4>Telefono :</h4>
<h6>{{Usuario.Telefono}}</h6>
<h4>Rol :</h4>
<h6>{{Usuario.rol}}</h6>

</div>



{{>footer}}